@media screen and (max-width: 1400px) {
    #profile{
        height: 79vh;
        margin-bottom: 6rem;
    }
    .about-container, .bakery-container{
        flex-wrap: wrap;
    }
    .socials-logo{
        padding-bottom: 0;
    }
    #about{
        height: auto;
    }

    .p1_bakery{
        padding-top: 2rem;
        font-size: 18px;
        text-align: justify;
        margin-left: 18px;
        margin-right: 18px;
        line-height: 1.8rem;
    }
    .title-project{
        padding-right: 0px;
    }
}


@media screen and (max-width: 1200px) {
    #desktop-nav{
        display: none;
    }
    #list-nav{
        display: flex;
    }
    #experience, .experience-details-container{
        margin-top: 2rem;
    }
    #profile, .section-container{
        display: block;
    }
    .arrow{
        display: none;
    }
    section, .section-container{
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }
    .profile_pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-container, .bakery-container{
        margin-top: 0;
    }
    #contact{
        height: 40vh;
    }
    #profile{
        height: auto;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer{
        height: 40vh;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-container, .bakery-container, .contact-info-upper-container, .btn-container{
        flex-wrap: wrap;
    }
    .title-container{
        flex-wrap: wrap;
    }
    .contact-info-container{
        margin: 0;
    }
    .contact-info-container p, .nav-links li a{
        font-size: 1rem;
    }
    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .profile_pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section_text_p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-container{
        text-align: justify;
    }
    /* bakery/project 1 */
    .bakery-title, .Educ-title{
        padding-top: 1rem;
        font-size: 44px;
    }
    .Android-title{
        padding-top: 1rem;
        font-size: 30px;
    }
    .p_bakery{
        padding-top: 1.6rem;
        font-size: 18px;
        text-align: justify;
        padding-left: 18px;
        padding-right: 18px;
    }
    .title-project{
        padding-top: 2rem;
        padding-right: 18px;
        padding-bottom: 18px;
    }
    .p1_bakery{
        padding-top: 2rem;
        font-size: 18px;
        text-align: justify;
        margin-left: 18px;
        margin-right: 18px;
        line-height: 1.8rem;
    }
    .bakery-container{
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        position: 0;
        width: 80%;
        height: auto;

        aspect-ratio: 0;
        overflow-x: 0;
        scroll-snap-type: 0;
        scroll-behavior: 0;
        overflow: 0;
    }
    .txt{
        font-size: 6px;
        position: flex;
        color: black;
        letter-spacing: 2px;
        line-height: 15px;
        top: -1%;
        left: 50%;
        text-align: center;
        z-index: 1;
    }
}